
<%= link_to "Add position", new_position_path %>
<p class="text-3xl font-bold underline">
    Hello world!
</p>
<% @positions.each do |position| %>
  <div>
    <p>Description: <%= position.description %></p>
    <p>Name: <%= position.title %></p>
    <p>Status: <%= position.status %></p>
    <%= link_to "Edit", edit_position_path(position) %>
    <%= link_to "Delete", position_path(position), data: { "turbo-method": :delete } %>
  </div>
<% end %>

