<tr>
<td class="tbl-data"><%= interview.candidate_position_test.candidate.name%></td>
<td class="tbl-data"><%= interview.interviewer %></td>
<td class="tbl-data"><%= interview.interview_type %></td>
<td class="tbl-data"><%= interview.result %></td>
<td class="tbl-data"><button class="text-blue-500 tbl-link">
    <%= link_to "Edit", edit_interview_path(interview)%>
     </button></td>
    <td class="tbl-data">
    <%= button_to "Delete", interview, method: :delete, class: "text-red-400 tbl-link" %>
    </td>
</tr>
                           
                        
