<div id="<%= dom_id interview %>">
  <p>
    <strong>Candidate's name:</strong>
    <%= interview.candidate_position_test.candidate.name %>
  </p>
  <p>
    <strong>Interviewer:</strong>
    <%= interview.interviewer %>
  </p>
  <p>
    <strong>Interview type:</strong>
    <%= interview.interview_type %>
  </p>
  <p>
    <strong>Result:</strong>
    <%= interview.result %>
  </p>
</div>
