<tr>
  <td class="tbl-data"><%= test.description %></td>
  
  <td class="tbl-data">
    <button class="text-blue-500 transition-colors duration-200 hover:text-indigo-500 focus:outline-none">
      <%= link_to rails_blob_path(test.assessment, disposition: "inline"), target: "_blank" do %>
        <%= "Assessment" %>
      <% end %>
    </button>
  </td>
  
  <td class="tbl-data">
    <button class="text-blue-500 tbl-link">
      <%= link_to "Edit", edit_test_path(test) %>
    </button>
  </td>
  
  <td class="tbl-data">
    <%= button_to "Delete", test, method: :delete, class: "text-red-400 tbl-link" %>
  </td>
</tr>
