<%= form_with model: @test, url: test_path(@test), method: :patch do |form| %>
  <div>
    <%= form.label :description, "Description" %>
    <%= form.text_field :description%>
  </div>

  <div>
    <%= form.label :assessment, "Assessment" %>
    <%= form.file_field :assessment%>
  </div>

  <div>
    <%= form.submit "Update" %>
  </div>
<% end %>
